
*{
  padding: 0;
  margin: 0;
}

.container{
  padding-left: 60px;
  padding-top: 30px;
  height:100%;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #414141;               
  background-color: #EEEEEE;    
  font-size: 14px;
  
}

.content{
  display: flex;
}

.chat{
  height:100%;
  flex: 80;
  
}

.message-send{
  
  margin-left: 5px;
  vertical-align: middle
}
.message-send:hover{
  color: #4f7fa9;
}

.no-messages{
  flex: 80;;
}

.sidebar{
  flex: 20;
  height:100%;
  margin-right: 5px;
 
}

.chat-input {
  width: 80%;
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  vertical-align: middle
}
.frm{
  margin:auto;
  display:flex;
  flex-direction: column;
  width: 500px;
}

.frm-input{
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;

}

.frm-button{
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #4f7fa9;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
  width:40%;
  align-self: center;

}

.frm-button:hover{

  background-color: #1B5180;
}

.frm-button-pressed{
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #1B5180;;

  border: none;
  border-radius: 3px;

  text-align: center;

  padding: 10px 10px;
  width:40%;
  align-self: center;


}


.sidebar-item{
  cursor: pointer;
  padding-top: 10px;
  border:1px solid #414141;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
 .sidebar-item p{
   text-align: center;
   font-size: 1rem;
   padding-left: 20px;
 }
 .trash-icon{
   padding-right: 15px;
 }
 .trash-icon:hover{
   color:#cb4c4e;
 }

.sidebar-item-selected{
  cursor: pointer;
  padding-top: 5px;
}
.add-channel{
  cursor: pointer;
  display:flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.add-channel p{
  padding-top: 6px;
  margin-left: 5px;
  font-size: 1rem;
  
}
.add-channel:hover > *{
  color: #4f7fa9;
}
.login-error{
  font-size: 1rem;
  color: #cb4c4e;
  height: 1.1rem;
  padding-bottom: 2px;
}

.login{

  display:flex;
}

.inf{
  padding-top: 4px;
}



